<div class="foot mt-3 pb-5 container-fluid">
<div class="row">
<div class="container footinside px-5">
<div class="row  m-4">
  <div class="col-sm-4 ">
    <div class="row">
      <div class="col-sm-3 p-3"><span class=" text-light material-icons">location_on</span></div>
      <div class="col-sm-9 py-1">
        <div class="row pt-2">
          <div class="col-sm-12 footdecoration">ADDRESS</div>
        </div>
        <div class="row">
          <div class="col-sm-12 footdecoration">#xxx, ABC road, phase-X</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-3 p-3"><span class=" text-light material-icons">local_phone</span></div>
      <div class="col-sm-9 py-1">
        <div class="row pt-2">
          <div class="col-sm-12 footdecoration">TELEPHONE</div>
        </div>
        <div class="row">
          <div class="col-sm-12 footdecoration">+(12) 457 890 123</div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-3 p-3"><span class=" text-light material-icons">email</span></div>
      <div class="col-sm-9 py-1">
        <div class="row pt-2">
          <div class="col-sm-12 footdecoration">E-MAIL</div>
        </div>
        <div class="row">
          <div class="col-sm-12 footdecoration">info@internshala.com</div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
  <div class="xx p-2">sdc</div>
</div>
<div class="container-fluid p-3 footinside">

  <div class="row  px-2">
    <div class="col-sm-3 "><img src="../assets/images/facebook.png" class="pl-3 imgresize">
      <img src="../assets/images/twitter.png" class="imgresize mx-3">
      <img src="../assets/images/instagram.png" class="imgresize"></div>
    <div class="col-sm-6 "><span style="color: #005400;">hj</span></div>
    <div class="col-sm-3 "><div class="row stylingg">DESIGNED BY VANSHIKA <span style="color: #005400;">hj</span><span class="text-light material-icons">restaurant</span></div></div>
  </div>

</div>
