.foot{
  background-color: #10430a;
  color:white;
}
.footdecoration{
  font-family: 'Julius Sans One', sans-serif;
  font-size: small;
}
.footinside{
  background-color: #005400;
}
.xx{
  background-color: #10430a;
  color: #10430a;
}
.stylingg{
  color: white;
  font-family: 'Cinzel Decorative', cursive;
}
