<!--navbar starts-->
<nav class="navbar">
  <span class="navbar-toggle material-icons text-secondary" id="js-navbar-toggle">menu </span>

  <a routerLink="/custhome" class="logo brandtext">FoodShala</a>
  <ul class="main-nav remainingmenutext" id="js-menu">
    <li>
      <a href="#" class="nav-links"><span style="color: white;">Home</span></a>
    </li>
    <li>
      <a routerLink="/custhome" class="nav-links">Home</a>
    </li>
<!--    <li>-->
<!--      <a href="#" class="nav-links"> <span style="color: white;">gme</span>Profile <span style="color: white;">me</span> </a>-->
<!--    </li>-->

    <li>
      <a routerLink="/contactus" class="nav-links"><span style="color: white;">gme</span>Contact Us <span style="color: white;">me</span></a>
    </li>

    <li>
      <a routerLink="/login" class="nav-links">Login</a>
    </li>

    <li>
      <a routerLink="/logout" class="nav-links">Logout</a>
    </li>

  </ul>
</nav>
<!--navbar ends-->



