<app-restaurant-menu></app-restaurant-menu>
<div class="container-fluid displayonresize">
  <div class="row ">
  <div class="col-sm-1 col-1 col-md-1 col-lg-1 bg">
    s
  </div>
  <div class="col-sm-11 col-12 col-md-11 col-xs-12 col-lg-11 p-5 ">
    <div class="row m-3  headingstyling">
      Add new item
    </div>
    <hr>
    <div class="row m-5 ">

   <div class="col-sm-12 col-md-12 col-12 col-lg-6">

     <div class="row m-2">
       <div class="form-group col-sm-12 formstyling">
         <label for="dishname" class="fieldsstyling">Dish Name:</label>
         <input type="text" class="form-control placeholderstyling" placeholder="Enter dish name" id="dishname">
       </div>
     </div>

     <div class="row m-2">
       <div class="form-group col-sm-12 formstyling">
         <label for="dishprice" class="fieldsstyling">Dish Price:</label>
         <input type="text" class="form-control placeholderstyling" placeholder="Enter dish price" id="dishprice">
       </div>
     </div>

     <div class="row m-2">
       <div class="form-group col-sm-12 formstyling">
         <label for="dishtype" class="fieldsstyling">Dish Type:</label>
         <input type="text" class="form-control placeholderstyling" placeholder="Enter dish type (Veg/Non-veg)" id="dishtype">
       </div>
     </div>

   </div>
      <div class="col-sm-6 col-md-6 col-lg-6">


        <div class="row m-2">
          <div class="form-group col-sm-12 formstyling">
            <label for="dishsrc" class="fieldsstyling">Dish Image src:</label>
            <input type="text" class="form-control placeholderstyling" placeholder="Enter dish image src" id="dishsrc">
          </div>
        </div>

        <div class="row m-2">
          <div class="form-group col-sm-12 formstyling">
            <label for="dishdescrp" class="fieldsstyling">Dish Description:</label>
            <input type="text" class="form-control placeholderstyling" placeholder="Enter dish description" id="dishdescrp">
          </div>
        </div>

      </div>

      <div class="container">
        <div class="row mb-4 mt-3">
          <div class="col text-center">
            <button class="btn btn-outline-primary">Add to menu!</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  </div>
</div>
