<app-restaurant-menu></app-restaurant-menu>
<div class="container-fluid">

  <div class=" container">
    <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">
  <table class="table c1 table-bordered">
    <thead>
    <tr>
      <th class="cx">Order Number</th>
      <th class="cx">Order Name</th>
      <th class="cx">Ordered by</th>
      <th class="cx" >Order Quantity</th>
      <th class="cx">Date</th>
      <th class="cx">Order Amount</th>
    </tr>
    </thead>
    <tbody>

    <tr >
      <td class="text-center">11</td>
      <td class=" text-center ">Pizza</td>
      <td class="text-center" >Tina</td>
      <td class="text-center">6</td>
      <td class="text-center" >14/4/2020</td>
      <td class="text-center">Rs 870/-</td>
    </tr>

    </tbody>
  </table>
</div>
</div>
</div>
</div>
