<app-landingpagemenu></app-landingpagemenu>
<div class="container-fluid p-5 bg-info" id="grad">
  <div class="container xx1 p-5 ">
    <div class="row ">
      <div class="col-lg-3 dontdisplayonsmallscreen ">
        <div class="row hidden" >
          g Lor    g Lorem Ipsum passages, an software like Aldusem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="row"><img src="../assets/images/img36.jpg" class="imgresize"></div>
        <div class="row hidden">
          g Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
      </div>
      <!--form starts-->
      <div class="col-lg-6 col-sm-12 col-md-12 ">
        <div class="row justify-content-center p-2 h11">Sign Up </div>

        <div class="row ">
          <div class="form-group col-sm-12 formstyling">
            <label for="fname">First Name:</label>
            <input type="text" class="form-control placeholderstyling" placeholder="Enter your first name" id="fname">
          </div>
        </div>

        <div class="row ">
          <div class="form-group col-sm-12 formstyling">
            <label for="lname">Last Name:</label>
            <input type="text" class="form-control placeholderstyling" placeholder="Enter your last name" id="lname">
          </div>
        </div>

        <div class="row ">
          <div class="form-group col-sm-12 formstyling">
            <label for="email">E-mail ID:</label>
            <input type="email" class="form-control placeholderstyling" placeholder="Enter mail id" id="email">
          </div>
        </div>

        <div class="row ">
          <div class="form-group col-sm-12 formstyling">
            <label for="password">Password:</label>
            <input type="password" class="form-control placeholderstyling" placeholder="Enter password" id="password">
          </div>
        </div>


        <div class="row ">
          <div class="form-group col-sm-12 formstyling">
            <label for="phno"> Phone Number:</label>
            <input type="text" class="form-control placeholderstyling" placeholder="Enter your phone number" id="phno">
          </div>
        </div>

        <div class="row ">
          <div class="form-group col-sm-12 formstyling">
            <label for="pref">Food Prefrence(Veg/Non-veg):</label>
            <input type="text" class="form-control placeholderstyling" placeholder="Enter your food preference" id="pref">
          </div>
        </div>

        <div class="row">
          <div class="col text-center pb-3 ">
            <a routerLink="/login" style="font-size: small;">Log to an existing account</a>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button routerLink="/custhome" class="btn btn-outline-primary">Register!</button>
          </div>
        </div>

      </div>
      <!--form ends-->

      <div class="col-lg-3 dontdisplayonsmallscreen">
        <div class="row hidden">
          g Lor    g Lorem Ipsum passages, an software like Aldusem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="row"><img src="../assets/images/img37.jpg" class="imgresize"></div>
        <div class="row hidden">
          g Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
      </div>
    </div>
  </div>
</div>


