<nav>
  <a routerLink="/landing" routerLinkActive="active"></a>
  <a routerLink="/login" routerLinkActive="active"></a>
  <a routerLink="/custsignup" routerLinkActive="active"></a>
  <a routerLink="/restsignup" routerLinkActive="active"></a>
  <a routerLink="/custhome" routerLinkActive="active"></a>
  <a routerLink="/resthome" routerLinkActive="active"></a>
  <a routerLink="/additem" routerLinkActive="active"></a>
  <a routerLink="/orderplaced" routerLinkActive="active"></a>
  <a routerLink="/vieworder" routerLinkActive="active"></a>
  <a routerLink="/contactus" routerLinkActive="active"></a>
  <a routerLink="/footer" routerLinkActive="active"></a>
  <a routerLink="/logout" routerLinkActive="active"></a>
  <a routerLink="/custnavbar" routerLinkActive="active"></a>
  <a routerLink="/restnavbar" routerLinkActive="active"></a>
  <a routerLink="/landingnavbar" routerLinkActive="active"></a>

</nav>
<router-outlet></router-outlet>
