<app-customer-menu></app-customer-menu>
<div class="container-fluid p-5 bg-info" id="grad">
  <div class="container xx1 p-5 ">
    <div class="row ">
      <div class="col-lg-3 dontdisplayonsmallscreen ">
        <span class="hidden"> xyz</span>
      </div>
      <!--form starts-->
      <div class="col-lg-6 col-sm-12 col-md-12 ">
        <div class="row justify-content-center p-2 h11">Got a question? Let's talk! </div>


        <div class="row ">
          <div class="form-group col-sm-12 formstyling">
            <label for="email">E-mail ID:</label>
            <input type="email" class="form-control placeholderstyling" placeholder="Enter mail id" id="email">
          </div>
        </div>


        <div class="row ">
          <div class="form-group col-sm-12 formstyling">
            <label for="phno"> Phone Number:</label>
            <input type="text" class="form-control placeholderstyling" placeholder="Enter your phone number" id="phno">
          </div>
        </div>

        <div class="row ">
          <div class="form-group col-sm-12 formstyling">
            <label for="msg">Message:</label>
            <textarea type="text" class="form-control placeholderstyling" placeholder="Your message here" rows="5" id="msg">
            </textarea>
          </div>
        </div>


        <div class="row">
          <div class="col text-center">
            <button class="btn btn-outline-primary">Submit!</button>
          </div>
        </div>

      </div>
      <!--form ends-->

      <div class="col-lg-3 dontdisplayonsmallscreen">
        <span class="hidden"> xyz</span>

      </div>

    </div>
  </div>
</div>


