<div class="container-fluid c2">
  hgsvchjs<br/>
  djkhk
</div>
<div class="container-fluid c1">
hgsvchjs
</div>

<div class="container-fluid">
<div class="row  p-5">
  <div class=" col-lg-12">
  <div class="row p-5">
    <div class=" text-center mx-auto logo brandtext">FoodShala</div>
  </div>
    <div class="contentstyling text-center mx-auto pb-5 pt-2"> You are now logged out !</div>
    <div class="subcontentstyling mx-auto text-center mb-5 pb-5"><a routerLink="/login">Log in again</a></div>
  </div>
</div>
</div>

<div class="container-fluid c1">
  hgsvchjs

</div>
<div class="container-fluid c2">
  hgsvchjs<br/>
  djkhk

</div>

