<!--navbar starts-->
<nav class="navbar">
  <span class="navbar-toggle material-icons text-secondary" id="js-navbar-toggle">menu </span>

  <a routerLink="/resthome" class="logo brandtext">FoodShala</a>
  <ul class="main-nav remainingmenutext" id="js-menu">
    <li>
      <a href="#" class="nav-links"><span style="color: white;">Home</span></a>
    </li>
    <li>
      <a routerLink="/resthome" class="nav-links">Home</a>
    </li>
    <li>
      <a routerLink="/additem" class="nav-links"> <span style="color: white;">gme</span>Add new item <span style="color: white;">me</span> </a>
    </li>

    <li>
      <a routerLink="/vieworder" class="nav-links"><span style="color: white;">gme</span>View Orders <span style="color: white;">me</span></a>
    </li>
    <li>
      <a routerLink="/login" class="nav-links">Login</a>
    </li>
    <li>
      <a routerLink="/logout" class="nav-links">Logout</a>
    </li>

  </ul>
</nav>
<!--navbar ends-->

