<app-customer-menu></app-customer-menu>
<div class=" container-fluid p-1 bggrad">
 <div class="container p-3 bg-light">
  <div class="row displayonresize">

    <div class="col-lg-9 col-md-9 ">
      <div class="row">
        <div class="col-lg-8 col-md-8 contentstyling  p-3">
          <div class="row m-3">
            FOOD NAME
          </div>
          <div class="row m-3">
            RESTAURANT NAME
          </div>
          <div class="row m-3">
            DESCRIPTION
          </div>

          <!--for smaller screens only start-->
          <div class="row m-3 hideforlarge">
            Rs PRICE /-
          </div>
          <div class="row m-3 hideforlarge">
           VEG/NON-VEG
          </div>
          <!--for smaller screen only ends-->

          <div class="row m-3 hideforsmall">
            <button type="button" class="btn btn-outline-primary" routerLink="/orderplaced">ORDER NOW!</button>
          </div>

        </div>
        <div class="col-lg-4 col-md-4 hideforsmall contentstyling p-3">
          <div class="row m-3" style="color: #F8F9FA;">
            sds
          </div>
          <div class="row m-3 ">
          price
          </div>
          <div class="row m-3">
           veg/non-veg
          </div>
          <div class="row m-3 " style="color: #F8F9FA;">
            fkjh
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3">
      <div class="row">
      <img src="../assets/images/img46.jpg" class="imgresize pr-2">
      </div>
      <div class="row hideforlarge text-center mx-auto">
        <button  class=" mt-1 mx-auto btn btn-outline-primary btn-sm" routerLink="/orderplaced">ORDER NOW!</button>
      </div>
    </div>
  </div>
   <hr/>
 </div>
</div>
